@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Teko:wght@300&display=swap');

body{
    background: #011129 url(assets/5.jpg) no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login_section{
    margin-top: 50px;
   display: flex;
}
.login_section_img{
    width: 650px;
}
.login_section_form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 400px;
    margin-left: 15px;
}
.login_section_header{
    font-family: 'Teko', sans-serif;
    font-size: 2em;
    color: white;
}
input.form_input{
    background: transparent;
    font-size: 1.5em;
    border-top: none;
    border-left: none;
    border-right: none;
    font-family: 'Teko', sans-serif;
    color: white;
    text-decoration: none;
}
.but_signin{
    background-color: rgb(1, 93, 212);
    border: none;
    border-radius: 5px;
    font-family: 'Teko', sans-serif;
    font-size: 1.5em;
}
.but_forgot{
    background-color: transparent;
    border: none;
    color: white;
    font-family: 'Teko', sans-serif;
    font-size: 1.5em;
}

footer{
    margin-top: 20px;
    max-width: 50%;
    text-align: center;
    color: white;
}


@media screen and (max-width: 1050px){
    .login_section_img{
        display: none;
    }
    .login_section_form{
        background-color: rgba(0, 39, 71, 0.829);
    }
    }
