body{
    background: #011129 url(assets/5.jpg) no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login_section{
    max-width: 80%;
}
footer{
    max-width: 80%;
    text-align: center;
}
